.featured-products {
    
    &__text {
        color: #A96D4F;
        text-align: center;
        
        h2 {
            font-weight: 200;
        }
        
        p {
            margin: 0;
            padding: 80px 40px;
        }
    }
    
    &--background {
        background: #f7f2ec;
    }
    .generic-img {
        div:nth-of-type(4) {
            margin-right: 0;
        } 
        
        padding-bottom: 80px;
    }  
}

.featured-products__container {
 /*   color: #93583A; */
    color: #A96D4F;
    width: 100%;
    
    display: flex;
    justify-content: center;

    .wrap1 {
        display: flex;
        background: green;
        width: 50%;
        height: 100%;
        
        img {
        width: 100%;
        height: 100%;
        }
    }
    
    .wrap2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
     /*   background-color: antiquewhite; */
  
    .content {
        display: flex;
        margin: 80px;
        flex-direction: column;
        
        p {
            padding: 0;
            margin: 20px 0;
        }

        h2 {
            text-align: center;
            font-weight: 100;
            margin: 0;
            padding: 0;
        }



        a {
            text-decoration: none;
            color: #A96D4F;
            padding: 10px 40px;
            border: 2px solid #A96D4F;
            border-radius: 5px;
            text-align: center;
            margin: 0 auto;    
            }
        }
    }
}


.container {
    max-width: 100%;  
    margin: 40px auto;
    display: flex;
    align-items: center;
    
    span {
        margin: 0 20px;
        flex-grow: 2;
        font-size: 30px;
        color: $mainTextColor;
    }
    
    hr {
        flex-basis: 100%;
        border: 0;
        
        background: linear-gradient(to right, transparent, #818078, transparent);
        height: 1px;
    }
}




.bg {
    opacity: .6;
    background: peachpuff;
    width: 100%;
    height: 500px;
    background-image:url(../../../assets/images/tanishq5.jpg); 
    background-size: cover;
    background-position: 0 -120px;
}

